/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: "Cinzel", serif;
  overflow-x: hidden;
}
:root {
  --main-text-color: #ff6c89;
  --pink-color: #ffe0c5;
  --blue-color: #3c0576;
}

.welcome {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--blue-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 99;
}
.welcome div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
}
.welcome div span {
  display: block;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.wrapper {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
a {
  text-decoration: none;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  padding: 8px 16px;
  border-radius: 16px;
  font-family: "Cinzel", serif;
  letter-spacing: 2px;
  margin: 10px;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: 0.15s ease;
  -o-transition: 0.15s ease;
  transition: 0.15s ease;
}

.button span {
  position: relative;
  color: rgba(0, 0, 0, 0.63);
  -webkit-transition: color 0.05s ease 0.1s, -webkit-transform 0.2s ease-in;
  transition: color 0.05s ease 0.1s, -webkit-transform 0.2s ease-in;
  -o-transition: transform 0.2s ease-in, color 0.05s ease 0.1s;
  transition: transform 0.2s ease-in, color 0.05s ease 0.1s;
  transition: transform 0.2s ease-in, color 0.05s ease 0.1s,
    -webkit-transform 0.2s ease-in;
}

.button span::after {
  position: absolute;
  color: rgba(0, 0, 0, 0);
  -webkit-transform: translateY(30px) scale(0);
  -ms-transform: translateY(30px) scale(0);
  transform: translateY(30px) scale(0);
  -webkit-transition: color 0.05s ease 0.1s, -webkit-transform 0.2s ease;
  transition: color 0.05s ease 0.1s, -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease, color 0.05s ease 0.1s;
  transition: transform 0.2s ease, color 0.05s ease 0.1s;
  transition: transform 0.2s ease, color 0.05s ease 0.1s,
    -webkit-transform 0.2s ease;
}

.button:hover span {
  color: rgba(0, 0, 0, 0);
  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}
.button:hover span::after {
  -webkit-transform: scale(1) translateY(30px);
  -ms-transform: scale(1) translateY(30px);
  transform: scale(1) translateY(30px);
  /* transform: translateX(-30px); */
  color: rgb(255, 255, 255);
}
/* PINK */

.pink {
  background-color: var(--pink-color);
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.pink__title {
  /* position: absolute; */
  margin-top: -10%;
  margin-left: -15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--main-text-color);
  font-size: 35vw;
  white-space: nowrap;
}
.pink__title span {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}
.pink__main,
.blue__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 400px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.pink__main-text,
.blue__main-text {
  font-size: 24px;
  padding: 5vh 0;
  line-height: 1.5;
}

.pink__main-button {
  position: relative;
  background-color: white;
  margin-bottom: 10vh;
}
.pink__main-button span {
  padding-left: 10px;
}

.pink__main-button span::after {
  left: 10px;
  content: "Explore location";
}

.pink__main-button:hover {
  background-color: var(--main-text-color);
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: -150px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  border: 2px solid white;
  -mox-box-shadow: 0 0 3px white;
  -webkit-box-shadow: 0 0 3px white;
  box-shadow: 0 0 3px white;
}

.swiper-pagination-bullet-active {
  background-color: var(--main-text-color);
}

/* BLUE */
.blue {
  position: relative;
  width: 100vw;
  background-color: var(--blue-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.image__description {
  padding-top: 200px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  opacity: 0;
  text-shadow: 1px 1px black;
}
.image__description--active {
  opacity: 1;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.image__description-link {
  color: gold;
}

.blue__title {
  font-size: 25vw;
  display: block;
  margin-top: 300px;
  color: var(--main-text-color);
  font-weight: 100;
}
.blue__main-text {
  color: white;
}

/* BLUE BUTTONS */
.blue__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1200px;
  padding: 80px 20px;
}
.blue__button {
  background-color: transparent;
  border: 2px solid white;
}
.blue__button span {
  color: white;
}
.blue__button span::after {
  left: 0;
  opacity: 1;
}
.blue__button:nth-of-type(1) span::after {
  content: "All";
}
.blue__button:nth-of-type(2) span::after {
  content: "Europe";
}
.blue__button:nth-of-type(3) span::after {
  content: "Oceania";
}

/* LOCATIONS */
.locations {
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 80px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 800px) {
  .locations {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.location {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  cursor: pointer;
  background-color: rgba(146, 146, 146, 0);
  border-radius: 50%;
  width: 140px;
  height: 140px;
  z-index: 2;
  margin-bottom: 80px;
}
.location::after {
  position: absolute;
  content: "";
  width: 140px;
  height: 140px;
  border-radius: 50%;
  z-index: -1;
  background-color: rgba(146, 146, 146, 0);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: background-color 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out,
    -webkit-transform 0.2s ease-in-out;
}

.location:hover::after {
  background-color: rgba(146, 146, 146, 0.534);
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
}

.location__flag {
  display: block;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);

  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.349);

  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.349);
}
.location__name {
  color: var(--main-text-color);
  letter-spacing: 3px;
  font-size: 24px;
  font-weight: 100;
}
.location__country {
  color: white;
  letter-spacing: 2px;
}

/* FOOTER */
.footer {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: #2d0458;
  color: white;
  min-height: 150px;
}
@media (min-width: 800px) {
  .footer {
    padding: 0 40px;
  }
}
.logo {
  position: relative;
  height: 65px;
}
.logo__first {
  color: #c78fec;
  font-size: 28px;
  z-index: 1;
}
.logo__second {
  color: #484050;
  font-size: 20px;
}
.logo .logo__second {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.logo__third {
  color: var(--main-text-color);
  font-size: 28px;
}
.logo .logo__third {
  position: absolute;
  left: 70px;
  bottom: -5px;
  z-index: 1;
}
.logo__globe {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  top: -20px;
  right: -70px;
  width: 60px;
  height: 60px;

  background-color: #5d4972;
  border-radius: 50%;
  z-index: 0;
}
.logo__globe::before {
  position: absolute;
  content: "";
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 3px dashed #5d4972;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  animation: rotate 1.5s linear 100ms infinite;
  -webkit-animation: rotate 4s linear 100ms infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

.logo__globe svg {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  margin-top: 5px;
}

.anim-spinGlobe {
  -webkit-animation: spineGlobeBig 1.5s linear infinite;
  animation: spineGlobeBig 1.5s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.logo__globe:hover .anim-spinGlobe,
.logo__globe:hover::before {
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 667px) {
  .contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.contact__button,
.contact__cetrucflotte {
  margin: 0;
}
.contact__button {
  padding: 10px;
}
.contact__cetrucflotte div {
  width: 100px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.contact__button span {
  color: white;
}
.contact__button span::after {
  left: 0;
  opacity: 1;
}
.contact__button:nth-of-type(1) span::after {
  content: "Credits";
}
.contact__button:nth-of-type(2) span::after {
  content: "Instagram";
}

.anim-spinGlobeSmall {
  -webkit-animation: spineGlobe 1.5s linear infinite;
  animation: spineGlobe 1.5s linear infinite;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.pink__main-button:hover svg {
  fill: white;
}
.pink__main-button:hover .anim-spinGlobeSmall {
  animation-play-state: running;
  -webkit-animation-play-state: running;
}
@-webkit-keyframes spineGlobe {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-96.95px, 0);
    transform: translate(-96.95px, 0);
  }
}
@keyframes spineGlobe {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-96.95px, 0);
    transform: translate(-96.95px, 0);
  }
}
@-webkit-keyframes spineGlobeBig {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-80.26px, 28.2px);
    transform: translate(-80.26px, 28.2px);
  }
}
@keyframes spineGlobeBig {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  100% {
    -webkit-transform: translate(-80.26px, 28.2px);
    transform: translate(-80.26px, 28.2px);
  }
}
